@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: var(--C);
}

:root {
  --bg: #040d1f;
  --w: #fff;
  --C: 'Comfortaa', sans-serif;
  --R: 'Roboto', sans-serif;
  --M: 'Montserrat', sans-serif;
  --orange: #ed8e00;
  --lightOrange: #f18128;
  --blk: #000;
  --grey: #c8c8c8
}

body {
  min-width: 320px;
  background: var(--bg);
  color: var(--w);
}

.container {
  max-width: 1140px;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  border: none;
  background: var(--lightOrange);
  font-family: var(--R);
  font-size: 16px;
  font-weight: 400;
  color: var(--blk);
  height: 45px;
  width: 166px;
  border-radius: 4px;
}

@media (hover: hover) {
  .btn:hover {
    background: var(--bg);
    color: var(--w);
  }
}

@media (hover: none) {
  .btn:active {
    background: var(--bg);
    color: var(--w);
  }
}

.btn:hover {
  background: var(--bg);
  color: var(--w);
}